<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/prisa.css') }}">
</head>
<body>
    <center><h1>פריסת חוב הוצאה לפועל</h1></center>
    <h3>1. פרטי אישיים</h3>
    <form id="step_1" action="">
        <table>
            <tr>
                <th>פרטים</th>
                <th>החייב/ת</th>
                <th>בן/בת זוג</th>
                <th>ילד</th>
                <th>ילד</th>
                <th>ילד</th>
                <th>ילד</th>
            </tr>
            <tr>
                <th>מס' זהות</th>
                <td><input type="text" id="gov_id1" name="gov_id1" value=""><br></td>
                <td><input type="text" id="gov_id2" name="gov_id2" value=""><br></td>
                <td><input type="text" id="gov_id3" name="gov_id3" value=""><br></td>
                <td><input type="text" id="gov_id4" name="gov_id4" value=""><br></td>
                <td><input type="text" id="gov_id5" name="gov_id5" value=""><br></td>
                <td><input type="text" id="gov_id6" name="gov_id6" value=""><br></td>
            </tr>
            <tr>
                <th>שם פרטי</th>
                <td><input type="text" id="fname1" name="fname1" value=""><br></td>
                <td><input type="text" id="fname2" name="fname2" value=""><br></td>
                <td><input type="text" id="fname3" name="fname3" value=""><br></td>
                <td><input type="text" id="fname4" name="fname4" value=""><br></td>
                <td><input type="text" id="fname5" name="fname5" value=""><br></td>
                <td><input type="text" id="fname6" name="fname6" value=""><br></td>
            </tr>
            <tr>
                <th>שם משפחה</th>
                <td><input type="text" id="lname1" name="lname1" value=""><br></td>
                <td><input type="text" id="lname2" name="lname2" value=""><br></td>
                <td><input type="text" id="lname3" name="lname3" value=""><br></td>
                <td><input type="text" id="lname4" name="lname4" value=""><br></td>
                <td><input type="text" id="lname5" name="lname5" value=""><br></td>
                <td><input type="text" id="lname6" name="lname6" value=""><br></td>
            </tr>
            <tr>
                <th>שם אב</th>
                <td><input type="text" id="faname1" name="faname1" value=""><br></td>
                <td><input type="text" id="faname2" name="faname2" value=""><br></td>
                <td><input type="text" id="faname3" name="faname3" value=""><br></td>
                <td><input type="text" id="faname4" name="faname4" value=""><br></td>
                <td><input type="text" id="faname5" name="faname5" value=""><br></td>
                <td><input type="text" id="faname6" name="faname6" value=""><br></td>
            </tr>
        </table>
        
    </form>
</body>
</html>